@section Styles {
    @Styles.Render("~/Content/css/index")
}

<div>
    <div class="position-relative img-base">
        <img class="position-absolute img-logo-border" src="~/Content/img/logo-border.png" />
        <button class=" position-absolute button" type="button" data-toggle="modal" data-target="#myModal">
            @Ambit_Verd.Resources.Layout.Index0
            <div class="button__horizontal"></div>
            <div class="button__vertical"></div>
        </button>
    </div>

    <div class="container">
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="w-50  mr-md-3 pt-3 text-center overflow-hidden">
                <div class="mt-3 p-3">
                    <a href="/home/services"> <h2 class="display-5 c-black"> @Ambit_Verd.Resources.Layout.Servicios </h2> </a>
                </div>
                <a href="/home/services"> <img class="bg-dark box-shadow mx-auto img-index" src="~/Content/img/index-1.jpg" /> </a>
            </div>
            <div class="w-50  mr-md-3 pt-3 text-center overflow-hidden">
                <div class="mt-3 p-3">
                    <a href="/home/projects"> <h2 class="display-5 c-black"> @Ambit_Verd.Resources.Layout.Proyectos </h2> </a>
                </div>
                <a href="/home/projects"> <img class="bg-dark box-shadow mx-auto img-index" src="~/Content/img/index-2.png" /> </a>
            </div>
        </div>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="w-50  mr-md-3 pt-3 text-center overflow-hidden">
                <div class="mt-3 p-3">
                    <a href="/home/WhoWeAre"> <h2 class="display-5 c-black"> @Ambit_Verd.Resources.Layout.Quienes_Somos </h2> </a>
                </div>
                <a href="/home/WhoWeAre"> <img class="bg-dark box-shadow mx-auto img-index" src="~/Content/img/index-3.png" /> </a>
            </div>
            <div class="w-50  mr-md-3 pt-3 text-center overflow-hidden">
                <div class="mt-3 p-3">
                    <a href="/home/Contact"> <h2 class="display-5 c-black"> @Ambit_Verd.Resources.Layout.Contacto </h2> </a>
                </div>
                <a href="/home/Contact"> <img class="bg-dark box-shadow mx-auto img-index" src="~/Content/img/index-4.jpg" /> </a>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Shared/Partials/_modal.cshtml")