@section Styles {
    @Styles.Render("~/Content/css/whoweare")
}

<div class="container">

    <h1 class="font-weight-bold text-center mt-5"> ¿Quienes somos?</h1>
    <hr class="featurette-divider mb-5 mt-4" />

    <label class="mt-5">
        @Ambit_Verd.Resources.Layout.WeAre1
    </label>
    <label>
        @Ambit_Verd.Resources.Layout.WeAre2
    </label>
    <label>
        @Ambit_Verd.Resources.Layout.WeAre3
    </label>

    <div class="d-flex mt-5">
        <div class="w-50 p-5">
            <img class="text-center row img-icon" src="~/Content/img/whoweare/objetivo.png" />
            <strong>  @Ambit_Verd.Resources.Layout.WeAre4  </strong> @Ambit_Verd.Resources.Layout.WeAre5
        </div>
        <div class="w-50 p-5">
            <img class="text-center row img-icon" src="~/Content/img/whoweare/satisfaccion.png" />
            <strong>  @Ambit_Verd.Resources.Layout.WeAre6  </strong> @Ambit_Verd.Resources.Layout.WeAre7
        </div>
    </div>

    <label class="mt-5">
        @Ambit_Verd.Resources.Layout.WeAre8
    </label>
</div>


